<div class="py-0">
  <div
    class="flex md:align-items-center md:justify-content-between flex-column md:flex-row pb-2 border-bottom-2 border-gray-300">
    <div class="flex align-items-center gap-2">
      <div class="flex justify-content-center align-items-center bg-blue-800 h-4rem w-4rem border-circle">
        <i class="pi pi-building text-3xl text-white"></i>
      </div>
      <div class="flex flex-column justify-content-start align-items-start gap-1">
        <h4 class="text-xl font-medium text-900 m-0 text-muted">Premice Computer</h4>
        <p class="m-0">
          Yaoundé, Intendance face musée artisanal
        </p>
      </div>
    </div>
    <div class="mt-3 md:mt-0">
      <div class="flex align-items-center gap-2">
        <div class="flex justify-content-center align-items-center bg-green-600 h-4rem w-4rem border-circle">
          <i class="pi pi-money-bill text-3xl text-white"></i>
        </div>
        <div class="flex flex-column justify-content-start align-items-start gap-1">
          <h4 class="text-xl font-bold text-900 m-0 text-green-700">XAF 100.000.000</h4>
          <p class="m-0">
            Chiffre d'affaire
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-0 mt-6">
  <div class="mb-5">
    <h2 class="text-bluegray-700">Les agences</h2>
  </div>

  <div class="grid">
    <div *ngFor="let item of [1, 2, 3, 4, 5, 6]" class="col-12 lg:col-4 p-2">
      <div class="surface-card border-round p-4 h-full">
        <div class="flex align-items-center">
          <div class="bg-transparent border-round inline-flex align-items-center justify-content-center"
            style="width:52px; height: 52px">
            <i class="pi pi-map-marker text-3xl text-blue-700"></i>
          </div>
          <div class="ml-3 flex-1">
            <span class="block text-600 mb-1 text-xl font-medium">Agence {{item}}</span>
          </div>
        </div>
        <div class="flex align-items-center mt-2">
          <div class="bg-green-100 border-round inline-flex align-items-center justify-content-center"
            style="width:52px; height: 52px">
            <i class="pi pi-money-bill text-3xl text-green-700"></i>
          </div>
          <div class="ml-3 flex-1">
            <span class="block text-green-700 mb-1 text-xl font-bold">
              XAF {{item * 100000000}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-0 mt-6">
  <div class="mb-5">
    <h2 class="text-bluegray-700">Autres sources</h2>
  </div>

  <div class="grid">
    <div *ngFor="let item of [1, 2, 3, 4, 5, 6]" class="col-12 lg:col-4 p-2">
      <div class="surface-card border-round p-4 h-full">
        <div class="flex align-items-center">
          <div class="bg-transparent border-round inline-flex align-items-center justify-content-center"
            style="width:52px; height: 52px">
            <i class="pi pi-map-marker text-3xl text-blue-700"></i>
          </div>
          <div class="ml-3 flex-1">
            <span class="block text-600 mb-1 text-xl font-medium">Souces {{item}}</span>
          </div>
        </div>
        <div class="flex align-items-center mt-2">
          <div class="bg-green-100 border-round inline-flex align-items-center justify-content-center"
            style="width:52px; height: 52px">
            <i class="pi pi-money-bill text-3xl text-green-700"></i>
          </div>
          <div class="ml-3 flex-1">
            <span class="block text-green-700 mb-1 text-xl font-bold">
              XAF {{item * 100000000}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>