<p>bc-send-message works!</p>
<p-sidebar (onHide)="onDrawerHide()" [showCloseIcon] = "true" [dismissible]="false" [(visible)]="sendMessageDrawer" styleClass="w-full lg:w-30rem" position="right">
  <ng-template pTemplate="header">
    <div class="flex align-items-center">
      <span class="flex align-items-center justify-content-center bg-cyan-100 text-cyan-800 mr-3 border-circle"
            style="width:32px;height:32px">
        <i class="pi pi-send text-lg"></i>
      </span>
      <span class="font-medium text-2xl text-900">
        Envoyer un message
      </span>
    </div>
  </ng-template>
  <div class="flex flex-column justify-content-between min-h-full surface-ground p-2">
    <div class="scrollbar">
      <p class="">Utiliser ce formulaire pour partager une information.</p>
      <div class="col-12">
        <div class="grid formgrid p-fluid">
          <div class="field mb-4 col-12">
            <p-multiSelect [options]="['SMS', 'WhatsApp', 'Email']" placeholder="Choisir le moyen d'envoie" display="chip" [showClear]="true"></p-multiSelect>
          </div>
          <div class="field mb-4 col-12">
            <label for="object" class="font-medium text-900">Objet</label>
            <input id="object" type="text" pInputText>
          </div>
          <div class="field mb-4 col-12">
            <label for="bio" class="font-medium text-900">Contenue</label>
            <textarea id="bio" type="text" pInputTextarea rows="5" [autoResize]="true"></textarea>
          </div>

          <div class="field col-12">
            <p-fileUpload
              removeStyleClass="bg-red-100 hover:bg-red-400 text-red-600 hover:text-white border-0 w-2rem h-2rem"
              [chooseIcon]="'pi pi-file'" [chooseLabel]="'Ajouter les fichiers'" [showCancelButton]="false"
              [showUploadButton]="false" name="demo[]" (onUpload)="onUpload($event)" [multiple]="true"
              accept="image/*" [maxFileSize]="1000000">
              <ng-template pTemplate="content">
                <ul class="flex" *ngIf="uploadedFiles.length">
                  <li class="flex justify-content-start align-items-center gap-0" *ngFor="let file of uploadedFiles">
                  </li>
                </ul>
              </ng-template>
            </p-fileUpload>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-end">
      <button pButton pRipple icon="pi pi-times" (click)="sendMessageDrawer =false" label="Annuler"
              class="p-button-text"></button>
      <button pButton pRipple icon="pi pi-send" (click)="sendMessageDrawer =false" label="Envoyer"></button>
    </div>
  </ng-template>
</p-sidebar>
