<app-au-auth-layout>

  <div style="border-radius:5px ; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
    <div class="w-full surface-card py-6 px-2 sm:px-5" style="border-radius:5px">
      <div class="text-center mb-5">
        <div class="text-900 text-3xl font-medium mb-3">
          Bienvenue
        </div>
        <p class="text-600 font-medium">
            Rejoignez notre communauté en quelques clics !
        </p>
        <p class="text-600 font-medium">
          Remplissez les détails ci-dessous et plongez dans une expérience inédite avec nous.
        </p>
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="submit()">
        <div *ngIf="activatedStep===1" class="flex flex-column gap-4">
          <h2 class="text-700 font-semibold">
            Informations personnelles
          </h2>
          <div class="w-full">
            <label for="firstName" class="block text-600 text-md font-medium mb-2">Nom</label>
            <input id="firstName" pInputText type="text" class="p-inputtext-md w-full" placeholder="Entrez votre nom"
                   formControlName="firstName" />
          </div>
          <div class="w-full">
            <label for="lastName" class="block text-600 text-md font-medium mb-2">Prenom</label>
            <input id="lastName" pInputText type="text" class="p-inputtext-md w-full" placeholder="Entrez votre prenom"
                   formControlName="lastName" />
          </div>
          <div class="mt-5">
            <p-button (click)="nextStep(2)" label="Commencer" class="w-auto" styleClass="mb-5 w-full"></p-button>
          </div>
        </div>
        <div *ngIf="activatedStep===2" class="flex flex-column gap-4">
          <h2 class="text-700 font-semibold">
            Contact
          </h2>
          <div class="w-full">
            <label for="email" class="block text-600 text-md font-medium mb-2">Email</label>
            <input id="email" pInputText type="email" class="p-inputtext-md w-full" placeholder="Entrez votre email"
                   formControlName="email" />
          </div>
          <div class="w-full">
            <label for="phone" class="block text-600 text-md font-medium mb-2">Téléphone</label>
            <input id="phone" pInputText type="text" class="p-inputtext-md w-full" placeholder="Entrez votre téléphone"
                   formControlName="phone" />
          </div>
          <div class="mt-5 flex justify-content-between w-full gap-4">
            <p-button (click)="prevStep(1)" label="Précdent" severity="secondary" class="w-auto" styleClass="mb-5 w-full"></p-button>
            <p-button (click)="nextStep(3)" label="Suivant" class="w-auto" styleClass="mb-5 w-full"></p-button>
          </div>
        </div>
        <div *ngIf="activatedStep===3" class="flex flex-column gap-4">
          <h2 class="text-700 font-semibold">
            Sécurité
          </h2>
          <div class="w-full">
            <label for="password" class="block text-600 text-md font-medium mb-2">
              Mot de passe
            </label>
            <p-password class="p-inputtext-md w-full" id="password" placeholder="Confirmer votre mot de passe"
                        [toggleMask]="true" inputStyleClass="w-full md:w-28rem" formControlName="password"></p-password>
          </div>
          <div class="w-full">
            <label for="confirmPassword" class="block text-600 text-md font-medium mb-2">
              Confirmer le mot de passe
            </label>
            <p-password class="p-inputtext-md w-full" id="confirmPassword" placeholder="Confirmer votre mot de passe"
                        [toggleMask]="true" inputStyleClass="w-full md:w-28rem" formControlName="confirmPassword"></p-password>
          </div>
          <div class="mt-5 flex justify-content-between w-full gap-4">
            <p-button (click)="prevStep(2)" label="Précdent" severity="secondary" class="w-auto" styleClass="mb-5 w-full"></p-button>
            <p-button label="Créer mon compte" class="w-auto" styleClass="mb-5 w-full"></p-button>
          </div>
        </div>
        <div class="flex align-items-center justify-content-between gap-5">
          <span class="text-600 font-medium">
            Vous avez déjà un compte ?
          </span>
          <a routerLink="/" class="font-medium no-underline ml-2 text-right cursor-pointer"
             style="color: var(--primary-color)">
            Se connecter
          </a>
        </div>
      </form>
    </div>
  </div>
</app-au-auth-layout>
