<div class="surface-card p-4 overflow-x-auto border-round scrollbar">
  <p-table scrollHeight="520px" class="scrollbar" [scrollable]="true" #dt1
           [value]="messagesList" dataKey="code" [rows]="10" [loading]="loadingClients || loadingMessages" [rowHover]="true"
           styleClass="p-datatable-gridlines scrollbar" [paginator]="true"
           [globalFilterFields]="['code','object','message']" responsiveLayout="scroll">
    <ng-template pTemplate="caption">
      <div class="flex flex-column gap-2">
        <div class="flex flex-column sm:flex-row gap-4">
          <div class="flex gap-2 w-full">
            <span class="p-input-icon-left mb-2 w-full">
              <i class="pi pi-search"></i>
              <input size="small" pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
                     placeholder="Chercher un message" class="w-full" />
            </span>
          </div>

        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width: 15rem">
          <div class="flex justify-content-between align-items-center">
            Objet
          </div>
        </th>
        <th style="min-width: 20rem">
          <div class="flex justify-content-between align-items-center">
            Message
          </div>
        </th>
        <th style="min-width: 10rem">
          <div class="text-center">
            Date d'envoi
          </div>
        </th>
        <th style="max-width: 5rem" class="text-center">
          Action
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-message>
      <tr>
        <td>
        <div class="flex flex-column gap-2">
         <span class="font-semibold">
            {{message.object | truncate : 20}}
         </span>
          <p-avatarGroup>
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" size="normal" shape="circle"></p-avatar>
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" size="normal" shape="circle"></p-avatar>
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png" size="normal" shape="circle"></p-avatar>
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png" size="normal" shape="circle"></p-avatar>
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/xuxuefeng.png" size="normal" shape="circle"></p-avatar>
            <p-avatar class="cursor-pointer" (click)="selectedMessage = message; onShowClientParMessageDrawer()" label="+2" shape="circle" size="normal" [style]="{ 'background-color': '#9c27b0', color: '#ffffff' }"></p-avatar>
          </p-avatarGroup>
        </div>
        </td>
        <td>
          <span class="ml-2">{{message.message | truncate : 200}}</span>
        </td>
        <td class="text-center">
          {{message.date_created | relativeTime}}
        </td>
        <td class="text-center">
          <a (click)="selectedMessage = message; onShowMessageDetailDrawer()" href="javascript: void(0);" class="text-blue-700 no-underline">
            <i class="pi pi-eye"></i>
          </a>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">Accun message trouvé.</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody">
      <tr>
        <td colspan="8">Chargement en cours.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-cm-message-detail
  [drawerVisible]="showMessageDetailDrawer"
  [selectMessage]="selectedMessage"
  (onDrawerClose)="onShowMessageDetailDrawer()"
>
</app-cm-message-detail>

<app-cm-new-message
  (onDrawerClose)="onShowNewMessageDrawer(true)"
  [drawerVisible]="showNewMessageDrawer"
>
</app-cm-new-message>

<app-cm-pre-saved-message
  (onDrawerClose)="onShowPreSaveMessagesDrawer(true)"
  [drawerVisible]="showPreSavedMessageDrawer"
>

</app-cm-pre-saved-message>

<app-cm-clients-per-message
  [selectMessage]="selectedMessage"
  (onDrawerClose)="onShowClientParMessageDrawer()"
  [drawerVisible]="showClientsPerMessageDrawer"
>
</app-cm-clients-per-message>

<p-dialog (onHide)="clearUrlParams()" header="Header" [draggable]="false" [(visible)]="createNewMessageDialog" [modal]="true" [style]="{ width: '35rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <span class="font-bold white-space-nowrap text-lg">Gerrer les messages</span>
    </div>
  </ng-template>
  <p class="text-center px-5 text-md font-medium">
    Que voulez-vous faire ?
  </p>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-between align-items-center">
      <p-button icon="pi pi-plus" (click)="onConfirmCreateNewMessage(true, false)" label="Nouveau message"></p-button>
      <p-button icon="pi pi-save" (click)="onConfirmCreateNewMessage(false, true)" label="Message pré-enregistré"></p-button>
    </div>
  </ng-template>
</p-dialog>
