<div class="topbar flex flex-column gap-3 px-3 py-1">
  <div class="flex justify-content-between align-items-center w-full">
    <div class="">
      <p-image routerLink="/" src="https://img.freepik.com/free-vector/flat-laptop-logo-template_23-2149025522.jpg?w=826&t=st=1704346218~exp=1704346818~hmac=09c3f73ee91ec14eb78b3722714de0d164e92dffecbbc140a1c6369701c3524c" alt="Image" width="50" height="50" imageClass="border-circle"></p-image>
    </div>
    <div class="">
      <ul></ul>
    </div>
    <div class="flex align-items-center gap-2">
      <app-sh-language-switcher></app-sh-language-switcher>
      <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" styleClass="mr-2" size="large" shape="circle"></p-avatar>
    </div>
  </div>
  <div class="flex justify-content-between align-items-center">
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
  </div>
</div>
