<p-sidebar (onHide)="onDrawerHide()" [showCloseIcon] = "true" [dismissible]="false" [(visible)]="showDateEventDrawer" styleClass="w-full lg:w-30rem" position="right">
  <ng-template pTemplate="header">
    <div class="flex align-items-center">
      <span class="flex align-items-center justify-content-center bg-blue-100 text-blue-800 mr-3 border-circle"
            style="width:32px;height:32px">
        <i class="pi pi-calendar text-lg"></i>
      </span>
      <span class="font-medium text-2xl text-900">
        Dates et événements
      </span>
    </div>
  </ng-template>
  <div class="flex flex-column justify-content-between min-h-full surface-ground p-2">
    <div class="scrollbar">
      <div class="mb-5 flex">
        <div class="flex flex-column align-items-center" style="width:2rem">
            <span class="bg-blue-500 text-0 flex align-items-center justify-content-center border-circle p-2">
                <i class="pi pi-compass text-xl"></i>
            </span>
          <div class="h-full bg-blue-500" style="width: 2px; min-height: 4rem"></div>
        </div>
        <div class="ml-5 surface-card shadow-2 border-round p-3 flex-auto">
          <div class="mb-3">
            <span class="text-900 font-medium inline-block mr-3">Jacob Jones</span>
            <span class="text-500 text-sm">1 minute ago</span>
          </div>
          <div class="line-height-3 text-700 mb-3">
            Eu tincidunt tortor aliquam nulla facilisi cras fermentum.
            Sollicitudin nibh sit amet commodo nulla. Mauris in aliquam sem fringilla ut morbi.
          </div>
          <div class="text-500 flex align-items-center gap-4">
            <div class="flex align-items-center gap-1">
              <i class="pi pi-heart"></i>
              <span>0</span>
            </div>
            <div class="flex align-items-center gap-1">
              <i class="pi pi-comment"></i>
              <span>1</span>
            </div>
            <div class="flex align-items-center gap-1">
              <i class="pi pi-eye"></i>
              <span>24</span>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-5 flex">
        <div class="flex flex-column align-items-center" style="width:2rem">
            <span class="bg-orange-500 text-0 flex align-items-center justify-content-center border-circle p-2">
                <i class="pi pi-list text-xl"></i>
            </span>
          <div class="h-full bg-orange-500" style="width: 2px; min-height: 4rem"></div>
        </div>
        <div class="ml-5 surface-card shadow-2 border-round p-3 flex-auto">
          <div class="mb-3">
            <span class="text-900 font-medium inline-block mr-3">Theresa Webb</span>
            <span class="text-500 text-sm">2 hours ago</span>
          </div>
          <div class="line-height-3 text-700 mb-3">
            Purus sit amet volutpat consequat mauris. Pretium lectus quam id leo in vitae.
            Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper.
          </div>
          <div class="text-500 flex align-items-center gap-4">
            <div class="flex align-items-center gap-1">
              <i class="pi pi-heart"></i>
              <span>26</span>
            </div>
            <div class="flex align-items-center gap-1">
              <i class="pi pi-comment"></i>
              <span>6</span>
            </div>
            <div class="flex align-items-center gap-1">
              <i class="pi pi-eye"></i>
              <span>673</span>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-5 flex">
        <div class="flex flex-column align-items-center" style="width:2rem">
            <span class="bg-purple-500 text-0 flex align-items-center justify-content-center border-circle p-2">
                <i class="pi pi-inbox text-xl"></i>
            </span>
          <div class="h-full bg-purple-500" style="width: 2px; min-height: 4rem"></div>
        </div>
        <div class="ml-5 surface-card shadow-2 border-round p-3 flex-auto">
          <div class="mb-3">
            <span class="text-900 font-medium inline-block mr-3">Walter Black</span>
            <span class="text-500 text-sm">4 hours ago</span>
          </div>
          <div class="line-height-3 text-700 mb-3">
            Euismod in pellentesque massa placerat duis ultricies lacus.
            Vitae sapien pellentesque habitant morbi tristique senectus et netus et.
          </div>
          <div class="text-500 flex align-items-center gap-4">
            <div class="flex align-items-center gap-1">
              <i class="pi pi-heart"></i>
              <span>62</span>
            </div>
            <div class="flex align-items-center gap-1">
              <i class="pi pi-comment"></i>
              <span>36</span>
            </div>
            <div class="flex align-items-center gap-1">
              <i class="pi pi-eye"></i>
              <span>21</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-end gap-2">
      <button pButton pRipple icon="pi pi-times" (click)="showDateEventDrawer =false" label="Annuler"
              class="p-button-text"></button>
    </div>
  </ng-template>
</p-sidebar>
