<app-au-auth-layout>
  <div
    style="border-radius:5px; max-width: 40%; min-width: 40%; ; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
    <div class="w-full surface-card py-6 px-2 sm:px-5" style="border-radius:5px">
      <div class="text-center mb-5">
        <div class="text-900 text-3xl font-medium mb-3">
          Recuperation de mot de passe
        </div>
        <span class="text-600 font-medium">
          Entrez votre email pour recuperer votre mot de passe
        </span>
      </div>
      <form class="w-full flex flex-column gap-5">
        <div *ngIf="activeStep===1" class="flex flex-column gap-4">
          <h2 class="text-700 font-semibold">
            Informations personnelles
          </h2>
          <div class="w-full">
            <label for="channel" class="block text-600 text-md font-medium mb-2">
              Quel moyen de communication preferez-vous ?
            </label>
            <p-dropdown [(ngModel)]="selectedChanel" [filter]="true" [options]="['Email', 'WhatSapp', 'SMS']" id="channel" optionLabel="name"
                        placeholder="Choisir le mode de recupération" styleClass="w-full" name="channel">
              <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="selectedChanel">
                  <div>{{ selectedChanel }}</div>
                </div>
              </ng-template>

              <ng-template let-channel pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div>{{ channel }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="mt-5">
            <p-button (click)="setStep(2)" label="Commencer" class="w-auto" styleClass="mb-5 w-full"></p-button>
          </div>
        </div>

        <div *ngIf="activeStep===2" class="flex flex-column gap-4">
          <h2 class="text-700 font-semibold">
            Informations du compte
          </h2>
          <div class="w-full">
            <label class="block text-600 text-md font-medium mb-2">
              {{(selectedChanel === 'SMS' || selectedChanel === 'WhatSapp') ? 'Numero de telephone' : 'Email'}}
            </label>
            <input
              pInputText
              *ngIf="selectedChanel === 'Email'"
              type="email"
              class="w-full form-control"
              placeholder="Entrez votre email"
              name="email"
              id="mail"
              [(ngModel)]="phoneEmail"
              required
            />
            <input
              pInputText
              *ngIf="selectedChanel !== 'Email'"
              type="tel"
              class="w-full form-control"
              placeholder="Entrez votre numéro de téléphone"
              name="phone"
              [(ngModel)]="phoneEmail"
              required
            />
          </div>
          <div class="mt-5 flex justify-content-between w-full gap-4">
            <p-button (click)="setStep(1)" label="Précdent" severity="secondary" class="w-auto" styleClass="mb-5 w-full"></p-button>
            <p-button (click)="setStep(3)" label="Suivant" class="w-auto" styleClass="mb-5 w-full"></p-button>
          </div>
        </div>
        <div *ngIf="activeStep===3" class="flex flex-column gap-4">
          <h2 class="text-700 font-semibold">
            Confirmation du compte
          </h2>
          <div class="w-full">
            <label class="block text-600 text-md font-medium mb-4">
              Code de confirmation à 5 chiffres
            </label>
            <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:5}"></ng-otp-input>
          </div>
          <div class="mt-5 flex justify-content-between w-full gap-4">
            <p-button (click)="setStep(2)" label="Précdent" severity="secondary" class="w-auto" styleClass="mb-5 w-full"></p-button>
            <p-button (click)="setStep(4)" label="Suivant" class="w-auto" styleClass="mb-5 w-full"></p-button>
          </div>
        </div>
        <div *ngIf="activeStep===4" class="flex flex-column gap-4">
          <h2 class="text-700 font-semibold">
            Nouveau mot de passe
          </h2>
          <div class="w-full">
            <label for="password" class="block text-600 text-md font-medium mb-2">
              Mot de passe
            </label>
            <p-password class="p-inputtext-md w-full" id="password" placeholder="Confirmer votre mot de passe"
                        [toggleMask]="true" inputStyleClass="w-full md:w-28rem"></p-password>
          </div>
          <div class="w-full">
            <label for="confirmPassword" class="block text-600 text-md font-medium mb-2">
              Confirmer le mot de passe
            </label>
            <p-password class="p-inputtext-md w-full" id="confirmPassword" placeholder="Confirmer votre mot de passe"
                        [toggleMask]="true" inputStyleClass="w-full md:w-28rem"></p-password>
          </div>
          <div class="mt-5 flex justify-content-between w-full gap-4">
            <p-button (click)="setStep(3)" label="Précdent" severity="secondary" class="w-auto" styleClass="mb-5 w-full"></p-button>
            <p-button routerLink="/" label="Enregistrer" class="w-auto" styleClass="mb-5 w-full"></p-button>
          </div>
        </div>
        <div class="flex align-items-center justify-content-between gap-5">
          <span class="text-600 font-medium">
            Je me souviens de mon mot de passe
          </span>
          <a routerLink="/" class="font-medium no-underline ml-2 text-right cursor-pointer"
             style="color: var(--primary-color)">
            Me connecter
          </a>
        </div>
      </form>
    </div>
  </div>
</app-au-auth-layout>
