{{ title }}



<div class="card">
  <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
  <p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>

  <p-toast></p-toast>
  <!-- On Button click we will show a single toast -->
  <button pButton (click)="showToast()" label="show toast"></button>
  <div>
    <h2>{{ 'HOME.TITLE' | translate }}</h2>
    <label>
      {{ 'HOME.SELECT' | translate }}
      <select #langSelect (change)="translate.use(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
      </select>
    </label>
  </div>
</div>
