<div *ngIf="loadingTags" class="flex align-items-center justify-content-center h-full w-full">
    <div class="text-success">
        <i class="pi pi-spin pi-spinner text-success" style="font-size: 3rem"></i>
    </div>
</div>

<div *ngIf="!loadingTags" class="">
    <div class="mt-3 lg:mt-0 flex justify-content-end">
        <button (click)="showTagViewDrawerAs='create'; onShowTagVieDrawer()" pButton pRipple label="Ajouter un tag"
            icon="pi pi-plus-circle">
        </button>
    </div>
    <div class="flex gap-2 w-full mt-4">
        <span class="p-input-icon-left mb-2 w-full">
            <i class="pi pi-search"></i>
            <input size="small" pInputText type="text" #filter placeholder="Chercher un tag" class="w-full" />
        </span>
    </div>

    <div class="text-900 w-full mt-3">
        <div class="grid mt-0 mr-0">
            <div *ngFor="let tag of displayedTags" class="col-12 md:col-4">
                <div
                    class="p-3 border-1 surface-border border-round surface-card flex justify-content-between align-items-end">
                    <div class="">
                        <div class="text-900 mb-2">
                            <span class="font-medium">{{tag.nom}}</span>
                        </div>
                        <div class="text-700">
                            {{tag.code_tag}}
                        </div>
                    </div>
                    <div class="">
                        <p-button (onClick)="selectedTag=tag; showTagViewDrawerAs='update'; onShowTagVieDrawer() "
                            icon="pi pi-file-edit" [rounded]="true" [text]="true" size="small"></p-button>
                        <p-button (onClick)="selectedTag=tag; showTagViewDrawerAs='detail'; onShowTagVieDrawer()"
                            icon="pi pi-eye" [rounded]="true" [text]="true" severity="success" size="small"></p-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
                [totalRecords]="tags.length" [rowsPerPageOptions]="[15, 30, 45]"></p-paginator>
        </div>
    </div>
</div>

<app-st-tag-view (onDrawerClose)="onShowTagVieDrawer()" [drawerVisible]="showTagViewDrawer"
    [useAs]="showTagViewDrawerAs" [tag]="selectedTag">

</app-st-tag-view>