<app-au-auth-layout>
  <div
    style="border-radius:5px ; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
    <div class="w-full surface-card py-6 px-2 sm:px-5" style="border-radius:5px">
      <div class="text-center mb-5">
        <div class="text-900 text-3xl font-medium mb-3">
          Ajouter des services
        </div>
        <span class="text-600 font-medium">
          Prêt à vous lancer ? Il est temps de ceer votre première agence.
        </span>
      </div>


      <div class="w-full flex flex-column gap-5">
        <div class="">
          <label for="phone" class="block text-600 text-md font-medium mb-2">
            Téléphone
          </label>
          <form [formGroup]="serviceAddPhoneForm" (ngSubmit)="addService()" class="flex justify-content-between gap-3">
            <input id="phone" pInputText type="tel" class="w-full" placeholder="Saissisez le nom de l'agence"
                   formControlName="phone" />
            <p-button type="submit" icon="pi pi-plus" severity="secondary"></p-button>
          </form>
        </div>
        <p-button routerLink="/app" type="button" label="Creer" class="w-auto" styleClass="w-full"
                  iconPos="right">
        </p-button>
      </div>
    </div>
  </div>
</app-au-auth-layout>
